
* {
  margin: 0;
  padding: 0;
}

.regimg{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.headingeglog{
  font-family: 'Nunito', sans-serif;
}

.regcontainer{
  width: 50%;
  margin-left: auto;
  margin-top: 50%;
  transform: translateY(-50%);
}

.reginput{
  margin-top: 30px;
}

.reginput .MuiTextField-root{
  width: 80%;
}

.regbttn{
  margin-top: 30px;
}

.regbttn .MuiButton-root{
  width: 40%;
}

.googleimg{
  width: 35%;
  margin-top: 20px;
  cursor:pointer;
}